.bannerHeight {
  height: 65vh;
}
.goProducts{
  position: absolute;
  // top: 50%;
  // left: 50%;
  // color: $Choco;
  background-color: rgba($color: #FFF, $alpha: 0.3);
  // font-size: 20px;
  // font-weight: bold;
  width: 100%;
  height: 100%;

  transition: all 0.3s;

  &:hover{
    text-decoration: none;
    // color: $Choco;
    background-color: rgba($color: #FFF, $alpha: 0.4);
  }
}