.w120px {
  width: 120px;
}
.w100px {
  width: 100px;
}
.w80px {
  width: 80px;
}
.bg-cover {
  background-position: center center;
  background-size: cover;
}
.bg-op6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.minHeight{
  min-height: calc(100vh - (62px + 145.6px + 48px));
}
.ulStyle {
  list-style: none;
  padding-inline-start: unset;
}
.textStyle {
  line-height: 1.5;
  letter-spacing: 5px;
}
p.textStyle {
  @media (max-width: 430px) {
    letter-spacing: 2px;
    font-size: 16px;
  }
}
.chocoline{
  position: relative;
}
.chocoline::before{
  content: '';
  position: absolute;
  top:-20px;
  width: 80px;
  height: 5px;
  border-top: 1px solid $yellowChoco;
  border-bottom: 1px solid $yellowChoco ;
}
.btn.btnChoco {
  display: block;
  padding: 10px 0;
  background-color: $yellowChoco;
  color: $Choco;
  font-weight: bold;
  border: 2px solid $yellowChoco;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    border: 2px solid $Choco;
    color: $Choco;
  }
  &:active {
    background-color: $Choco;
    color: $yellowChoco;
  }
}