.chocoBtn{
  display: block;
  padding: 10px;
  background-color: $yellowChoco;
  color: $Choco;
  font-weight:bold;
  border: 2px solid $yellowChoco;
  transition: all 0.3s;
  &:hover{
    text-decoration: none;
    border: 2px solid $Choco;
    color: $Choco;
  }
  &:active{
    background-color: $Choco;
    color: $yellowChoco;
  }
}
.checkBtn{
  display: block;
  padding: 10px;
  background-color: $danger;
  color: $lightChoco;
  font-weight:bold;
  border: 2px solid $danger;
  transition: all 0.3s;
  &:hover{
    text-decoration: none;
    border: 2px solid $yellowChoco;
    color: $lightChoco;
  }
  &:active{
    background-color: $yellowChoco;
    color: $Choco;
    border: 2px solid $danger;
  }
}
.btn.checkCoupon {
  border: 1px solid $Choco;
  transition: all 0.3s;
  color: $Choco;
  &:hover{
    background-color: $yellowChoco;
  }
  &:active{
    background-color: $Choco;
    color: $lightChoco;
  }
}
.btn.btnFrom{
  border: 1px solid $Choco;
  color: $lightChoco;
  background-color: $Choco;
  transition: all 0.3s;
  &:hover{
    border: 1px solid $yellowChoco;
  }
  &:active{
    background-color: $yellowChoco;
    color: $Choco;
  }
}
.btn.btn-pay{
  border: 1px solid $danger;
  color: $lightChoco;
  background-color: $danger;
  transition: all 0.3s;
  &:hover{
    border: 1px solid $yellowChoco;
    color: $yellowChoco;
  }
  &:active{
    background-color: $yellowChoco;
    color: $Choco;
  }
}
