.ulStyle {
  list-style: none;
  padding-inline-start: unset;
}
.productList {
  border: 2px solid $Choco;
  box-shadow: 2px 2px $yellowChoco;
  margin-bottom: 5px;
  &:hover {
    border: 2px solid $yellowChoco;
    box-shadow: 2px 2px transparent;
  }
  a {
    color: $Choco;
    font-weight: 900;
    &:hover {
      background-color: $Choco;
      color: $yellowChoco;
    }
    &:active {
      color: $Choco;
      background-color: $yellowChoco;
    }
  }
}
.productList.active {
  position: relative;
  left: 20px;
  border: 2px solid $yellowChoco;
  box-shadow: 2px 2px transparent;
  a {
    color: $Choco;
    background-color: $yellowChoco;
  }
  &:before {
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-left: 15px solid $yellowChoco;
    border-bottom: 7.5px solid transparent;
    content: "";
    position: absolute;
    top: 10.9px;
    left: -20px;
  }
}
.cardList {
  border: 2px solid $yellowChoco;
  border-radius: 0;
  box-shadow: 2px 2px 5px $secondary;
  .card-title:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.cardImgHeight {
  height: 200px;
  @media (min-width: 768px) {
    height: 150px;
  }
}

.addCart{
  padding:10px;
  border-radius: 50%;
  border: 1px solid $danger;
  color: $danger;
  background-color: $lightChoco;
  &:hover{
    border: 1px solid $yellowChoco;
    color: $lightChoco;
    background-color: $yellowChoco;
  }
}

.modalAddCart{
  padding:10px;
  border-radius: 10px;
  border: 1px solid $danger;
  color: $danger;
  background-color: $lightChoco;
  text-decoration: none;
  &:hover{
    border: 1px solid $yellowChoco;
    color: $lightChoco;
    background-color: $yellowChoco;
  }
}