.logo {
  width: 125px;
  height: 60px;
  background-image: url(./assets/images/chocolate_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 130%;
}
.nav-border{
  border-bottom: 2px solid $Choco;
}
.dropdown-toggle::after{
  display: none;
}
.carouselPSize{
  font-size: 12px;
}
.headerBtn{
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  color: $Choco;
  font-weight: bold;
  &:hover{
    text-decoration: none;
    color: $Choco;
    background-color: $yellowChoco;
  }
  &:active{
    background-color: $Choco;
    color: $yellowChoco;
  }
}
.headerBtn.active{
  background-color: $yellowChoco;
}