.logo {
  width: 125px;
  height: 60px;
  background-image: url(./assets/images/chocolate_logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 130%;
}
// nav{
//   border-bottom: 0;
// }
.nav-border{
  border-bottom: 2px solid $Choco;
}
.navbar-light .navbar-nav .chocoText {
  color: $Choco;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    background-color: $yellowChoco;
  }
  &:active {
    background-color: $Choco;
    color: $yellowChoco;
  }
}
.navbar-light .navbar-nav .chocoText.active {
  color: $yellowChoco;
  background-color: $Choco;
}

.chocoText.dropdown-toggle::after{
  display: none;
}
.carouselPSize{
  font-size: 12px;
}