.w120px {
  width: 120px;
}
.w100px {
  width: 100px;
}
.w80px {
  width: 80px;
}
.bg-cover {
  background-position: center center;
  background-size: cover;
}
.bg-op6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel-height {
  height: 250px;
  @media (min-width: 768px) {
    height: 300px;
  }
}
.minHeight{
  min-height: calc(100vh - (78px + 145.6px + 48px));
}
.chocoBtn{
  display: block;
  padding: 10px;
  background-color: $yellowChoco;
  color: $Choco;
  font-weight:bold;
  border: 2px solid $yellowChoco;
  transition: all 0.3s;
  &:hover{
    text-decoration: none;
    border: 2px solid $Choco;
    color: $Choco;
  }
  &:active{
    background-color: $Choco;
    color: $yellowChoco;
  }
}
.checkBtn{
  display: block;
  padding: 10px;
  background-color: $danger;
  color: $lightChoco;
  font-weight:bold;
  border: 2px solid $danger;
  transition: all 0.3s;
  &:hover{
    text-decoration: none;
    border: 2px solid $yellowChoco;
    color: $lightChoco;
  }
  &:active{
    background-color: $yellowChoco;
    color: $Choco;
    border: 2px solid $danger;
  }
}