.w120px {
  width: 120px;
}
.w100px {
  width: 100px;
}
.w80px {
  width: 80px;
}
.bg-cover {
  background-position: center center;
  background-size: cover;
}
.bg-op6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel-height {
  height: 250px;
  @media (min-width: 768px) {
    height: 300px;
  }
}
.minHeight{
  min-height: calc(100vh - (62px + 145.6px + 48px));
}
